.App {
  text-align: center;
  margin: 20px;
  background-color: #f8e1e1;
  color: #800020;
  font-family: Arial, sans-serif;
}

h1 {
  color: #800020;
}

button {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid #800020;
  background-color: #ffcccb;
  color: #800020;
}

select {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 2px solid #800020;
  background-color: #ffcccb;
  color: #800020;
  font-size: 16px;
}

p {
  color: green;
}
